<h1>cocktails</h1>
<div>
  <% @cocktails.each do |cocktail|  %>
    <p>
      <%= link_to cocktail_path(cocktail) do %>
      <%= cl_image_tag cocktail.photo.key, height: 300, width: 400, crop: :fill if cocktail.photo.attached?%>
      <%= cocktail.name %>
      <% end %>
    </p>
  <% end %>
  <p>
    <%= link_to "New cocktail", new_cocktail_path() %>
  </p>
</div>